<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Anonymous suggestions</title>

    <script type='text/javascript' src='bower_components/angular/angular.min.js'></script>
    <script type='text/javascript' src='app.js'></script>
  </head>

  <body ng-app='app' ng-controller='MainCtrl'>
    <div ng-repeat="suggestion in suggestions | orderBy: '-upvotes'">
      <span ng-click='incrementUpvotes(suggestion)'>^</span>
      {{suggestion.description}} - upvotes: {{suggestion.upvotes}}
    </div>

    <form ng-submit='addSuggestion()'>
      <input type='text' placeholder='Description' ng-model='description'></input>
      <br>
      <button type='submit'>Send</button>
    </form>
  </body>
</html>
