<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Anonymous suggestions</title>

    <link href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet'>
    <script type='text/javascript' src="bower_components/faye/include.js"></script>
    <script type='text/javascript' src='bower_components/angular/angular.min.js'></script>
    <script type='text/javascript' src='bower_components/angular-ui-router/release/angular-ui-router.min.js'></script>
    <script type='text/javascript' src='javascripts/angularApp.js'></script>
  </head>

  <body ng-app='app' ng-controller='MainCtrl'>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>
        <div class='page-header'>
          <a ui-sref='home'>
            <img src='images/logo.png' alt='Logo'>
          </a>
        </div>

        <ui-view></ui-view>
      </div>
    </div>

    <script type='text/ng-template' id='/home.html'>
      <div ng-repeat="suggestion in suggestions | orderBy: '-upvotes'">
        <span style='cursor: pointer;' class='glyphicon glyphicon-thumbs-up' ng-click='incrementUpvotes(suggestion)'></span>
        {{suggestion.upvotes}}

        <span style='font-size:20px; margin-left:10px;'>
          <a ng-show='suggestion.link' href='{{suggestion.link}}' target='_blank'>{{suggestion.description}}</a>
          <span ng-hide='suggestion.link'>{{suggestion.description}}</span>
          |
          <span><a href="#/suggestions/{{suggestion._id}}">Comments ({{suggestion.comments.length}})</a></span>
        </span>
      </div>

      <form ng-submit='addSuggestion()' style='margin-top:30px;'>
        <h3>Add a new suggestion</h3>

        <div class='form-group'>
          <input type='text' class='form-control' placeholder='Description' ng-model='description'></input>
        </div>

        <div class='form-group'>
          <input type='text' class='form-control' placeholder='Link' ng-model='link'></input>
        </div>

        <button type='submit' class='btn btn-primary'>Send</button>
      </form>
    </script>

    <script type='text/ng-template' id='/suggestions.html'>
      <div class='page-header'>
        <h4>Suggestion #id</h4>
        <h2>
          <a ng-show='suggestion.link' href='{{suggestion.link}}'>{{suggestion.description}}</a>
          <span ng-hide='suggestion.link'>{{suggestion.description}}</span>
        </h2>
      </div>

      <div ng-repeat="comment in suggestion.comments | orderBy:'-upvotes'">
        <span class='glyphicon glyphicon-thumbs-up' ng-click='incrementUpvotes(comment)'></span>
        {{comment.upvotes}}
        <span style='font-size:20px; margin-left:10px;'>{{comment.body}}</span>
      </div>

     <form ng-submit='addComment()' style='margin-top:30px;'>
        <h3>Add a new comment</h3>

        <div class='form-group'>
          <input type='text' class='form-control' placeholder='Comment' ng-model='body'></input>
        </div>

        <button type='submit' class='btn btn-primary'>Post</button>
      </form>
    </script>
  </body>
</html>
